virtual_env/
PS1/__pycache__
PS1/cifar-10-batches-py
PS1/cs639/__pycache__
PS1/softmax_best_model.pt
PS1/best_two_layer_net.pth
PS1/best_overfit_five_layer_net.pth
PS2/__pycache__
PS2/cifar-10-batches-py
PS2/cs639/__pycache__
PS2/cifar-10-python.tar.gz
subconvForward.txt
.vscode/settings.json
PS2/one_minute_deepconvnet.pth
PS2/overfit_deepconvnet.pth
PS2/Anyong_Haoyang_PS2.zip
PS3/VOCdevkit/VOC2007
PS3/__pycache__
PS3/cs639/__pycache__
PS3/VOCtrainval_06-Nov-2007.tar
PS3/voc07_train.json
PS3/voc07_val.json
PS3/.vscode
